HTML {
	BACKGROUND: #fff; COLOR: #000
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	padding: 0px;
    MARGIN: 0px; text-align: left;
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	padding: 0px;
    MARGIN: 0px; font-size: small;
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT:normal
}
STRONG {
	FONT-STYLE: normal; font-weight:bold
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
LI {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: center;
	font-size:medium;
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
ABBR {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ACRONYM {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
SUP {
	VERTICAL-ALIGN: text-top
}
SUB {
	VERTICAL-ALIGN: text-bottom
}
INPUT {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
LEGEND {
	COLOR: #000
}
BODY {
	FONT: small/1.231 arial,helvetica,clean,sans-serif
}
TABLE {
	
}
PRE {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
CODE {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
KBD {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
SAMP {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
TT {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
BODY {
	TEXT-ALIGN: center
}
#ft {
	CLEAR: both
}
#doc {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
#doc2 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
#doc3 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
#doc4 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
.yui-t1 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
.yui-t2 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
.yui-t3 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
.yui-t4 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
.yui-t5 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
.yui-t6 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
.yui-t7 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.3em
}
#doc2 {
	WIDTH: 71.31em
}
#doc3 {
	MARGIN: auto 10px; WIDTH: auto
}
#doc4 {
	WIDTH: 73.11em
}
.yui-b {
	POSITION: relative
}
.yui-b {
	_position: static
}
#yui-main .yui-b {
	POSITION: static
}
#yui-main {
	WIDTH: 100%
}
.yui-t1 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-t2 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-t3 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-t4 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-t5 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-t6 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-t1 .yui-b {
	WIDTH: 12.01em; FLOAT: left
}
.yui-t1 #yui-main .yui-b {
	MARGIN-LEFT: 13.01em
}
.yui-t2 .yui-b {
	WIDTH: 13.51em; FLOAT: left
}
.yui-t2 #yui-main .yui-b {
	MARGIN-LEFT: 14.51em
}
.yui-t3 .yui-b {
	WIDTH: 22.52em; FLOAT: left
}
.yui-t3 #yui-main .yui-b {
	MARGIN-LEFT: 23.52em
}
.yui-t4 .yui-b {
	WIDTH: 13.51em; FLOAT: right
}
.yui-t4 #yui-main .yui-b {
	MARGIN-RIGHT: 14.51em
}
.yui-t5 .yui-b {
	WIDTH: 18.01em; FLOAT: right
}
.yui-t5 #yui-main .yui-b {
	MARGIN-RIGHT: 19.01em
}
.yui-t6 .yui-b {
	WIDTH: 22.52em; FLOAT: right
}
.yui-t6 #yui-main .yui-b {
	MARGIN-RIGHT: 23.52em
}
.yui-t7 #yui-main .yui-b {
	MARGIN: 0px 0px 1em; DISPLAY: block
}
#yui-main .yui-b {
	WIDTH: auto; FLOAT: none
}
.yui-g .yui-gb .yui-u {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gb .yui-g {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gb .yui-gb {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gb .yui-gc {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gb .yui-gd {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gb .yui-ge {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gb .yui-gf {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gb .yui-u {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gc .yui-u {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gc .yui-g {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gd .yui-u {
	WIDTH: 32%; FLOAT: left; MARGIN-LEFT: 2%
}
.yui-gb .yui-gb .yui-u {
	MARGIN-LEFT: 1.8%; _margin-left: 4%
}
.yui-gb .yui-gc .yui-u {
	MARGIN-LEFT: 1.8%; _margin-left: 4%
}
.yui-g .yui-gb .yui-u {
	_margin-left: .8%
}
.yui-gb .yui-u {
	FLOAT: right
}
.yui-gb DIV.first {
	FLOAT: left; MARGIN-LEFT: 0px
}
.yui-g .yui-gb DIV.first {
	WIDTH: 32%; MARGIN-RIGHT: 0px; _width: 31.7%
}
.yui-gb .yui-gb DIV.first {
	WIDTH: 32%; MARGIN-RIGHT: 0px; _width: 31.7%
}
.yui-gb .yui-gc DIV.first {
	MARGIN-RIGHT: 0px
}
.yui-gb .yui-gd DIV.first {
	MARGIN-RIGHT: 0px
}
.yui-gb .yui-gd .yui-u {
	WIDTH: 66%; _width: 61.2%
}
.yui-gb .yui-gd DIV.first {
	WIDTH: 31%; _width: 29.5%
}
.yui-g .yui-gc .yui-u {
	WIDTH: 32%; MARGIN-RIGHT: 0px; _margin-left: 0; _float: right
}
.yui-gb .yui-gc .yui-u {
	WIDTH: 32%; MARGIN-RIGHT: 0px; _margin-left: 0; _float: right
}
.yui-gb .yui-gc DIV.first {
	WIDTH: 66%; FLOAT: left; MARGIN-LEFT: 0px
}
.yui-gb .yui-ge .yui-u {
	MARGIN: 0px
}
.yui-gb .yui-gf .yui-u {
	MARGIN: 0px
}
.yui-g .yui-u {
	FLOAT: right
}
.yui-g .yui-g {
	FLOAT: right
}
.yui-g .yui-gb {
	FLOAT: right
}
.yui-g .yui-gc {
	FLOAT: right
}
.yui-g .yui-gd {
	FLOAT: right
}
.yui-g .yui-ge {
	FLOAT: right
}
.yui-g .yui-gf {
	FLOAT: right
}
.yui-gc .yui-u {
	FLOAT: right
}
.yui-gd .yui-g {
	FLOAT: right
}
.yui-g .yui-gc .yui-u {
	FLOAT: right
}
.yui-ge .yui-u {
	FLOAT: right
}
.yui-ge .yui-g {
	FLOAT: right
}
.yui-gf .yui-g {
	FLOAT: right
}
.yui-gf .yui-u {
	FLOAT: right
}
.yui-g .yui-gc DIV.first {
	FLOAT: left
}
.yui-g .yui-ge DIV.first {
	FLOAT: left
}
.yui-g DIV.first {
	FLOAT: left
}
.yui-gc DIV.first {
	FLOAT: left
}
.yui-gc DIV.first DIV.first {
	FLOAT: left
}
.yui-gd DIV.first {
	FLOAT: left
}
.yui-ge DIV.first {
	FLOAT: left
}
.yui-gf DIV.first {
	FLOAT: left
}
.yui-g .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gb .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gc .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gd .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-ge .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gf .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-g .yui-g DIV.first {
	MARGIN: 0px
}
.yui-gb .yui-g DIV.first {
	MARGIN-RIGHT: 4%; _margin-right: 1.3%
}
.yui-gb .yui-gb .yui-u {
	_margin-left: .7%
}
.yui-gb .yui-g DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gb .yui-gb DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gc .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gd .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-g .yui-u {
	WIDTH: 49.1%
}
.yui-g .yui-g {
	WIDTH: 49.1%
}
.yui-g .yui-gb {
	WIDTH: 49.1%
}
.yui-g .yui-gc {
	WIDTH: 49.1%
}
.yui-g .yui-gd {
	WIDTH: 49.1%
}
.yui-g .yui-ge {
	WIDTH: 49.1%
}
.yui-g .yui-gf {
	WIDTH: 49.1%
}
.yui-g .yui-gb DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gb DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gc DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gd DIV.first {
	MARGIN-LEFT: 0px
}
.yui-g .yui-gc DIV.first {
	WIDTH: 66%
}
.yui-gc DIV.first {
	WIDTH: 66%
}
.yui-gd .yui-g {
	WIDTH: 66%
}
.yui-gd .yui-u {
	WIDTH: 66%
}
.yui-gd DIV.first {
	WIDTH: 32%
}
.yui-gb .yui-gd DIV.first {
	WIDTH: 32%
}
.yui-g .yui-gd DIV.first {
	_width: 29.9%
}
.yui-ge .yui-u {
	WIDTH: 24%
}
.yui-ge .yui-g {
	WIDTH: 24%
}
.yui-gf DIV.first {
	WIDTH: 24%
}
.yui-gb .yui-ge DIV.yui-u {
	FLOAT: right
}
.yui-gb .yui-gf DIV.yui-u {
	FLOAT: right
}
.yui-gb .yui-ge DIV.first {
	FLOAT: left
}
.yui-gb .yui-gf DIV.first {
	FLOAT: left
}
.yui-ge DIV.first {
	WIDTH: 74.2%
}
.yui-gf .yui-g {
	WIDTH: 74.2%
}
.yui-gf .yui-u {
	WIDTH: 74.2%
}
.yui-gb .yui-ge .yui-u {
	WIDTH: 24%; _width: 20%
}
.yui-gb .yui-gf DIV.first {
	WIDTH: 24%; _width: 20%
}
.yui-gb .yui-ge DIV.first {
	WIDTH: 73.5%; _width: 65.5%
}
.yui-gb .yui-gf .yui-u {
	WIDTH: 73.5%; _width: 65.5%
}
#bd:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.yui-g:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.yui-gb:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.yui-gc:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.yui-gd:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.yui-ge:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.yui-gf:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}

.yui-gb .yui-u {
	FLOAT: left
}
