<br/>
<treasure-overlay-spinner active='spinner.active'>
<div>
    <div class="container">
        <div class="row" style="padding-top: 4px; padding-bottom: 4px;">
            <div style="padding-left: 16px; padding-right: 16px;">
                <form name="rankingCheckListForm" id="rankingCheckListForm" class="form-inline">
                    <ul class="list-inline">
                        <li ng-repeat="checkRecord in rankingCheckList">
                            <input type="checkbox" ng-model="checkRecord.value">
                            {{checkRecord.name}}
                            </input>
                        </li>
                        <li>
                            <div class="dropdown" style="display:inline-block;">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" id="yearDropdownMenu">
                                    {{yearSelect.selectedYear.value}}{{langValues.yearWord}}
                                    <span class="caret">
                                    </span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="yearDropdownMenu">
                                    <li ng-repeat="year in yearSelect.availableYears">
                                        <div id="yearId{{year.id}}" ng-click="setYear(year.id)">
                                            {{ year.value }}{{langValues.yearWord}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown" style="display:inline-block;">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" id="recordsPerPageDropdownMenu">
                                    {{paginationParameters.recordsPerPageSelection.selectedSize.value}}{{langValues.recordsPerPagePhrase}}
                                    <span class="caret">
                                    </span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-narrow" aria-labelledby="recordsPerPageDropdownMenu">
                                    <li ng-repeat="pageSize in paginationParameters.recordsPerPageSelection.availableSizes">
                                        <div id="pageSizeId{{pageSize.id}}" ng-click="setPageSize(pageSize.id)">
                                            {{ pageSize.value }}{{langValues.recordsPerPagePhrase}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button type="submit" ng-click="sendSelected()" class="btn btn-primary btn-sm">
                                {{langValues.applyButtonTitle}}
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <!--<div class="row" style="border:solid 4px #999999;">-->
        <div class="row">
            <div style="padding-left: 14px; padding-right: 14px; margin-top: 8px; margin-bottom: 8px">
                <div name="correlationMatrixContainer" id="correlationMatrixContainer" ng-show="showCorrelationMatrix">
                    <button type="submit" ng-click="downloadCorrelationMatrixAsCSV()" class="btn btn-primary btn-sm">
                        {{langValues.downloadAsCSVButtonTitle}}
                    </button>
                    <button type="submit" ng-click="downloadCorrelationMatrixAsXLS()" class="btn btn-primary btn-sm">
                        {{langValues.downloadAsXLSButtonTitle}}
                    </button>
                    <span ng-if="correlationMatrix">
                        <table class="table-bordered table-condensed">
                            <tbody>
                                <tr ng-repeat="matrixRow in correlationMatrix">
                                    <td ng-repeat="matrixElement in matrixRow track by $index">
                                        {{ matrixElement }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </div>
                <button class="btn btn-primary btn-sm " ng-click="showCorrelationMatrix = !showCorrelationMatrix" ng-init="showCorrelationMatrix = false">
                    <div ng-show="!showCorrelationMatrix">
                        {{langValues.showCorrelationMatrixButtonTitle}}
                    </div>
                    <div ng-show="showCorrelationMatrix">
                        {{langValues.hideCorrelationMatrixButtonTitle}}
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <!--<div class="row" style="border:solid 4px #aaaaaa;">-->
        <div class="row">
            <div style="padding-left: 14px; padding-right: 14px; margin-top: 8px; margin-bottom: 8px">
                <button type="submit" ng-click="downloadTableAsCSV()" class="btn btn-primary btn-sm">
                    {{langValues.downloadAsCSVButtonTitle}}
                </button>
                <button type="submit" ng-click="downloadTableAsXLS()" class="btn btn-primary btn-sm">
                    {{langValues.downloadAsXLSButtonTitle}}
                </button>
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <td ng-repeat="header in rankingTable.headers">
                                {{ header }}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in rankingTable.records">
                            <td ng-repeat="item in record track by $index">
                                {{ item }}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="{{tableWidth}}" align="center">
                                <div>
                                    <ul class="pagination">
                                        <li ng-class="prevPageDisabled()">
                                            <a class="btn btn-primary btn-sm" href="" ng-click="goToFirstPage()">
                                                &laquo;
                                            </a>
                                        </li>
                                        <li ng-class="firstPageDisabled()">
                                            <a class="btn btn-primary btn-sm" href="" ng-click="goToPrevPage()">
                                                &lsaquo;
                                            </a>
                                        </li>
                                        <!--<li ng-repeat="pageNum in paginationParameters.showedPagesNumsArray track by $index" ng-class="{active: pageNum == paginationParameters.currentPageNum}" ng-click="goToPage(pageNum)">-->
                                        <li ng-repeat="pageNum in paginationParameters.showedPagesNumsArray track by $index" ng-class="{active: pageNum == paginationParameters.currentPageNum}" ng-click="goToPage(pageNum)">
                                            <a class="btn btn-primary btn-sm" href="">
                                                {{ pageNum }}
                                            </a>
                                        </li>
                                        <li ng-class="lastPageDisabled()">
                                            <a class="btn btn-primary btn-sm" href="" ng-click="goToNextPage()">
                                                &rsaquo;
                                            </a>
                                        </li>
                                        <li ng-class="nextPageDisabled()">
                                            <a class="btn btn-primary btn-sm" href="" ng-click="goToLastPage()">
                                                &raquo;
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</treasure-overlay-spinner>
