<div class="container" id="aboutContainer">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ about }}
        </div>
    </div>
</div>
<div class="container" id="methodologyContainer">
    <div class="row">
        <!--<div class="col-md-10 col-md-offset-1">-->
        <div class="col-md-12">
            <h4>
                {{langValues.methodologyTitle}}
            </h4>

            <div id="methodolgyMath">
            </div>

            <br/>
            <br/>
            {{langValues.goToRanktable}} <a href="#/ranktable">{{langValues.ranktableLinkName}} </a>
        </div>
    </div>
</div>
