<div>
    <h4>
        <!--Methodology-->
        {{langValues.methodologyTitle}}
    </h4>
    <!--Many, many sentences about methodology with terrible formulas...-->
    {{ methodologyText }}
    <!--<div id="methodolgyMath">
        {{ methodology }}
        </div>-->
    <!--<div id="methodolgyMath" ng-bind="methodology">
        </div>-->
    <div id="methodolgyMath">
    </div>
    <br/>
    <br/>
    $$∑↙{i=0}↖n i={n(n+1)}/2$$
    <br/>
    <br/>
    <!--Go to <a href="#/ranktable" ng-click="setActiveNavItem(2)"> Aggregate Ranking Table </a>-->
    Go to <a href="#/ranktable"> Aggregate Ranking Table </a>
</div>
