<!DOCTYPE html>
<html ng-app="rankingApp">
    {% load staticfiles %}
    <head>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=UnifrakturMaguntia">
        <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
        <!--<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>-->
        <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <!--<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">-->
        <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "bower_components/bootstrap/dist/css/bootstrap-theme.min.css" %}" rel="stylesheet">
        <link href="{% static "css/navbar.css" %}" rel="stylesheet">
        <link href="{% static "css/jqmath-0.4.3.css" %}" rel="stylesheet">
        <link href="{% static "css/treasure-overlay-spinner.css" %}" rel="stylesheet">
        <link href="{% static "css/btn-custom.css" %}" rel="stylesheet">
        <link href="{% static "css/dropdown-menu-custom.css" %}" rel="stylesheet">
        <!--<link href="{% static "css/awesome-bootstrap-checkbox.css" %}" rel="stylesheet">
        <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "css/build.css" %}" rel="stylesheet">-->
        <style type="text/css">
           .table-hover tbody tr:hover td { background: gray; } 
        </style>

        <script src="{% static "bower_components/angular/angular.js" %}"></script>
        <script src="{% static "bower_components/angular-animate/angular-animate.js" %}"></script>
        <script src="{% static "bower_components/angular-route/angular-route.js" %}"></script>
        <script src="{% static "bower_components/angular-touch/angular-touch.js" %}"></script>
        <script src="{% static "js/ui-bootstrap-tpls-1.2.4.min.js" %}"></script>
        <script src="{% static "js/app.js" %}"></script>
        <script src="{% static "js/controllers.js" %}"></script>
        <script src="{% static "js/treasure-overlay-spinner.js" %}"></script>
        <script src="{% static "js/FileSaver.min.js" %}"></script>
        <script src="{% static "js/md5.js" %}"></script>
        <script src="{% static "js/jqmath-etc-0.4.3.min.js" %}"></script>
        <script>M.MathPlayer = false; M.trustHtml = true;</script>
        <script> function processMath() {M.parseMath("methodologyMath");} </script>
    </head>
    <!--<body ng-app="rankingApp">-->
    {% verbatim %}
    <body ng-controller="NavigationController"> 
        <div class="row">
            <div class="col-sm-2">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li ng-class="getNavClass(1)" ng-click="setActiveNavItem(1)"><a href="#/">{{langValues.homeNavigationTitle}}</a></li>
                                    <li ng-class="getNavClass(2)" ng-click="setActiveNavItem(2)"><a href="#/ranktable">{{langValues.rankingTableNavigationTitle}}</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <label for="langSelect" id="langSelect">{{langValues.selectLanguageTitle}}:
                </label>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" id="langDropdownMenu">
                        Set lang:
                        <span class="caret">
                        </span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="langDropdownMenu">
                        <li ng-repeat="lang in langSelect.availableLanguages">
                            <div id="langId{{lang.id}}" ng-click="setLang(lang.id)">
                                {{ lang.value }}
                            </div>
                        </li>
                    </ul>
                </div>
                <!--<div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="langDropdownMenu" type=button" class="btn btn-primary" uib-dropdown-toggle ng-diabled="disabled">
                        Set lang: <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="langDropdownMenu">
                        <li ng-repeat="lang in langSelect.availableLanguages" role="menuitem" class="menu-item-hover">
                            <div id="langId{{lang.id}}" ng-click="setLang(lang.id)">
                                {{ lang.value }}
                            </div>
                        </li>
                    </ul>
                    </div>-->
                <select name="langSelect" id="langSelect" ng-options="lang.value for lang in langSelect.availableLanguages track by lang.id" ng-model="langSelect.selectedLang" ng-change="changeLanguage()">
                </select>

               <div ng-view>
               </div>
            </div>
        </div>
    </body>
    {% endverbatim %}
</html>
