<!doctype html>
<html ng-app="rankingApp">
    <!--<html ng-app>-->
    {% load staticfiles %}
    <head>
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <style type="text/css">
           .table-hover tbody tr:hover td { background: aqua; } 
        </style>
        <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
        <script src="{% static "bower_components/angular/angular.js" %}"></script>
        <script src="{% static "bower_components/angular-animate/angular-animate.js" %}"></script>
        <script src="{% static "bower_components/angular-route/angular-route.js" %}"></script>
        <script src="{% static "bower_components/angular-resource/angular-resource.js" %}"></script>
        <!--<script src="{% static "js/app.js" %}"></script>-->
        <!--<script src="{% static "js/animations.js" %}"></script>-->
        <script src="{% static "js/controllers.js" %}"></script>
        <!--<script src="{% static "js/filters.js" %}"></script>
        <script src="{% static "js/services.js" %}"></script>-->
    </head>
    <!--<body ng-container="RankingListCtrl">-->
    <body>
        <strong>Aggregated ranking table </strong>
        <!--<form action="table" method="post" class=="form-inline">-->
         <form action="table" method="post" class==".form-horizontal">
             <div class=".control-group">
                {% csrf_token %}
                {{ select_rankings_names_form }}
                <input type="submit" value="Select">
             </div>
        </form>
       
        <ul>
            {% for short_name in selected_rankings_names %}
            <li> {{ short_name }} </li>
            {% endfor %}
        </ul>
        <br>
        {% if ranktable %}
            <!--<table cellspacing="2" border="1" cellpadding="5">-->
            <!--<table class="table table-striped">-->
            <!--<table class="table table-bordered">-->
            <!--<table class="table table-hover">-->
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                    {% for item in ranktable.0 %}
                        <td>
                        {{ item }}
                        </td>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for record in ranktable|slice:"1:" %}
                    <tr>
                    {% for item in record %}
                        <td>
                        {{ item }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        <strong> No data for this year </strong>
        {% endif %}

        {% verbatim %}
        <div ng-controller="RankingTableCtrl">
            <form name="rankingCheckList" ng-controller='RankingCheckController'>
                <ul>
                    <li ng-repeat="checkrecord in rankingchecklist">
                        <input type="checkbox" ng-model="checkrecord.value">{{checkrecord.name}}</input>
                    </li>
                </ul>
                <label for="yearSelect" id="yearSelect">Select year: </label>
                <select name="yearSelect" id="yearSelect" ng-options="year.value for year in yearsselect.availableYears track by year.id" ng-model="yearsselect.selectedYear"></select>
                <button type="submit" ng-click="sendselected()" class="btn btn-danger btn-lg">Send</button>
            </form>
            <strong> {{ table }} </strong>
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <td ng-repeat="header in rankingTable.headers">
                            {{ header }}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr ng-repeat="record in rankingTable.records track by $index">-->
                    <tr ng-repeat="record in rankingTable.records">
                        <td ng-repeat="item in record track by $index">
                            {{ item }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        {% endverbatim %}
    </body>
</html>
